<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/options.css">
</head>
<body>
    <!--  Modal Selected -->
    <section class="about__container">
        <article class="about__introduction">
            <div class="about--modal-close">
                <p class="about__introduction--title">Back this project</p>
                <img class="close" src="../images/icon-close-modal.svg" alt="close">
            </div>
            <p class="about__introduction--paragraph">Want to support us in bringing Mastercraft Bamboo Monitor Riser out in the world?</p>
        </article>
        <article class="options__container">
            <div class="option--item">
                <div class="option--item-choose">
                    <input type="radio" name="" id="">
                    <h3 class="option--item-title">Pledge whith no reward</h3>
                </div>
                <p class="option--item-paragraph">Choose to support us without a reward if you simply believe in our project. As a backer, you will be signed up to receive product updates via email.</p>
                <p class="number">101 <span>left</span></p>
                
            </div>
            <div class="option--item">
                <div class="option--item-choose">
                    <input type="radio" name="" id="">
                    <h3 class="option--item-title">Bamboo Stand</h3>
                </div>
                <p class="option--item-subtitle">Pledge $25 or more</p>
                <p class="option--item-paragraph">You get an ergonomic stand made of natural bamboo. You've helped us launch our promotional campaign, and you´ll be added to a special Backer memeber list.</p>
                <p class="number">101 <span>left</span></p>
                
            </div>
            <div class="option--item">
                <div class="option--item-choose">
                    <input type="radio" name="" id="">
                    <h3 class="option--item-title">Black Edition Stand</h3>
                </div>
                <p class="option--item-subtitle">Pledge $75 or more</p>
                <p class="option--item-paragraph">You get a Black Special Edition computer stand and a persoanl thank you. You'll be added to our Backer meeber list. Shipping is included</p>
                <p class="number">64 <span>left</span></p>
                
            </div>
            <div class="option--item item__opacity">
                <div class="option--item-choose">
                    <input type="radio" name="" id="">
                    <h3 class="option--item-title">Mohogany Special Edition</h3>
                </div>
                <p class="option--item-subtitle">Pledge $200 or more</p>
                <p class="option--item-paragraph">You get two Special Edition Mohogany stands, a Backer T-Shirt, and a personal thank you. Tou'll be added to our Backer member list.Shipping is included</p>
                <p class="number">0 <span>left</span></p>
                
            </div>
        </article>
    </section>
    <!-- End Modal selected -->
</body>
</html>