.container--modal {
    min-width: 300px;
    max-width: 400px;
    display: none;
    position: absolute;
    top: -50px;
    left: calc(50% - 150px);
    width: 85%;
}
.option--item .option--item-choose {
    display: flex;
    align-items: baseline;
}

.option--item-choose .option--item-title {
    margin-left: 5px;
    cursor: pointer;
}

.about--modal-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about--modal-close .close {
    width: 15px;
    height: 15px;
}

.modal--background {
    background-color: red;
}